<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Centralizador.DAO.Properties.Settings.centralizadorConnectionString" connectionString="Data Source=ASUS\SQLEXPRESS;Initial Catalog=centralizador;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
