<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Centralizador.DAO.Properties.Settings.centralizadorConnectionString"
            connectionString="Data Source=ASUS\SQLEXPRESS;Initial Catalog=centralizador;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>