<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="FileControl">
      <section name="FilesSection" type="Uniandes.FileControl.FilesSection" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>

  </configSections>

  <appSettings>
    <add key="MIME_TYPES" value="pdf,jpeg,image/png,bmp,gif,jpe,jpg,doc,docx,xls,xlsx"/>
    <add key="applicationid" value="OPERADOR_DOS"/>
    <add key="identificadorOperador" value="B76D3904-C21B-499F-9A05-A01E67CA1A43"/>
    <add key="FROMMAIL" value="Di3goandres@hotmail.com"/>
    <!--maximo de limite de archivos-->
    <add key="MaxFileSize" value="5000000"/>
    <add key="ImgEmail" value="http://bitacora.com.ec/wp-content/uploads/2014/01/control-efectivo.png"/>
    <add key="SubjectNuevaContra" value="CARPETA CIUDADANA COLOMBIANA - Nueva Contraseña"/>
    <add key="SubjectNuevaUsuario" value="CARPETA CIUDADANA COLOMBIANA - Creación de usuario"/>
    <add key="Title" value="CARPETA CIUDADANA COLOMBIANA"/>
    <add key="SecurityKey" value="qOS1Pb72m3ucNUytkcJUAohHvFF1MUhVlgNrVhf5VXRDrXAkANH+xezZIjJblYennpSRGElSmZv4ovvaIt3mgi0OqKUlhfeNr1beUitUbsYnpQIsxNoiT0QXqX4Ra1FA585V5adhyUAocGolRBmP7dj5mjunqj2XLGouLSelWKs="/>
  </appSettings>

  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True;User ID=seguridad;Password=seguridad;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
    <add name="UniandesConnectionString" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=aspnetdb;User ID=seguridad;Password=seguridad" providerName="System.Data.SqlClient"/>
    <!--<add name="GestorDocumental" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=gestorDocumental;User ID=incoder;Password=Incoder2015" providerName="System.Data.SqlClient"/>-->
    <add name="SPUniandesConnectionString" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=OperadorCarpeta;User ID=operadorcarpeta;Password=operadorcarpeta" providerName="System.Data.SqlClient"/>
    <add name="CentralizadorConnectionString" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=centralizador;User ID=sa;Password=Mateo1987" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>


  <log4net>
    <root>
      <priority value="ALL" />
    </root>
    <logger name="OperadorCarpeta">
      <level value="ALL" />
      <appender-ref ref="OperadorCarpeta" />
    </logger>
    <appender name="OperadorCarpeta" type="log4net.Appender.RollingFileAppender">
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <datePattern value="_(dd-MM-yyyy)'.log'" />
      <file value="C:\\Log\\WebServicesREcepcionCarpetaCiudadana-log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <!--Seccion para la carga de archivos u descarga.-->
  <FileControl>
    <FilesSection>
      <AntivirusDirectory Path="D:\\100_Cargues\\Antivirus" ScanningSecondsPerByte="0.00001" isFtp="false" user="" password=""/>
      <RepositoryDirectories>
        <add key="OPERADOR_REPOSITORY_USER" path="ftp://127.0.0.1/" isFtp="true" user="operador" password="carpeta"></add>
      </RepositoryDirectories>
    </FilesSection>
  </FileControl>
</configuration>