<?xml version="1.0"?>
<configuration>
  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>

  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <!--<add name="CentralizadorConnectionString" connectionString="Data Source=ECOSPROYECTO3-2;Initial Catalog=centralizador;User ID=centralizador;Password=centralizadorcolombia" providerName="System.Data.SqlClient"/>-->
    <add name="CentralizadorConnectionString" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=centralizador;User ID=sa;Password=Mateo1987" providerName="System.Data.SqlClient"/>
  </connectionStrings>



  <log4net>
    <root>
      <priority value="ALL" />
    </root>
    <logger name="CentralizadorColombiano">
      <level value="ALL" />
      <appender-ref ref="CentralizadorColombiano" />
    </logger>
    <appender name="CentralizadorColombiano" type="log4net.Appender.RollingFileAppender">
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <datePattern value="_(dd-MM-yyyy)'.log'" />
      <file value="C:\\Log\\CentralizadorRUUS-log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
