<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433E Q 
  -->
<configuration>
	<configSections>
		<sectionGroup name="FileControl">
			<section name="FilesSection" type="Uniandes.FileControl.FilesSection" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	
	</configSections>
	<appSettings>
		<add key="applicationid" value="OPERADOR"/>
		<add key="identificadorOperador" value="B76D3904-C21B-499F-9A05-A01E67CA1A43"/>
    <add key="FROMMAIL" value="Di3goandres@hotmail.com"/>
		<!--maximo de limite de archivos-->
		<add key="MaxFileSize" value="5000000"/>
		<add key="ImgEmail" value="http://bitacora.com.ec/wp-content/uploads/2014/01/control-efectivo.png"/>
		<add key="SubjectNuevaContra" value="CARPETA CIUDADANA COLOMBIANA - Nueva Contraseña"/>
		<add key="SubjectNuevaUsuario" value="CARPETA CIUDADANA COLOMBIANA - Creación de usuario"/>
		<add key="Title" value="CARPETA CIUDADANA COLOMBIANA"/>
   <add key="SecurityKey" value="qOS1Pb72m3ucNUytkcJUAohHvFF1MUhVlgNrVhf5VXRDrXAkANH+xezZIjJblYennpSRGElSmZv4ovvaIt3mgi0OqKUlhfeNr1beUitUbsYnpQIsxNoiT0QXqX4Ra1FA585V5adhyUAocGolRBmP7dj5mjunqj2XLGouLSelWKs="/>
	</appSettings>
	<!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.0" />
		<!--autenticacion-->
		<authentication mode="Forms">
			<forms loginUrl="../Login.aspx" timeout="2880" />
		</authentication>
		<membership defaultProvider="AspNetSqlMembershipProvider">
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="OPERADOR" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="OPERADOR" />
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear />
				<add connectionStringName="ApplicationServices" applicationName="OPERADOR" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
			</providers>
		</roleManager>
		<!--fin autenticacion-->
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<!--<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
			</controls>
		</pages>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		
		</httpHandlers>
		<httpModules>
			
		</httpModules>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">

		</modules>
	</system.webServer>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True;User ID=seguridad;Password=seguridad;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
		<add name="UniandesConnectionString" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=aspnetdb;User ID=seguridad;Password=seguridad" providerName="System.Data.SqlClient"/>
		<!--<add name="GestorDocumental" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=gestorDocumental;User ID=incoder;Password=Incoder2015" providerName="System.Data.SqlClient"/>-->
		<add name="SPUniandesConnectionString" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=OperadorCarpeta;User ID=operadorcarpeta;Password=operadorcarpeta" providerName="System.Data.SqlClient"/>
		<add name="CentralizadorConnectionString" connectionString="Data Source=COCO\SQLEXPRESS;Initial Catalog=centralizador;User ID=sa;Password=Mateo1987" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<log4net>
		<root>
			<priority value="ALL" />
		</root>
		<logger name="OperadorCarpeta">
			<level value="ALL" />
			<appender-ref ref="OperadorCarpeta" />
		</logger>
		<appender name="OperadorCarpeta" type="log4net.Appender.RollingFileAppender">
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<datePattern value="_(dd-MM-yyyy)'.log'" />
			<file value="C:\\Log\\CarpetaCiudadana-log" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline %date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="Mail Displayname &lt;mail@raccoom.net&gt;">
				<network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="d3egoandres@gmail.com" password="mateo1987diegococo" targetName="Andres" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IService1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:20760/Service1.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IService1" contract="Centralizador.IService1"
    name="BasicHttpBinding_IService1" />
  </client>
	</system.serviceModel>


	<!--Seccion para la carga de archivos u descarga.-->
	<FileControl>
		<FilesSection>
			<AntivirusDirectory Path="D:\\100_Cargues\\Antivirus" ScanningSecondsPerByte="0.00001" isFtp="false" user="" password=""/>
			<RepositoryDirectories>
				<add key="OPERADOR_REPOSITORY_USER" path="ftp://127.0.0.1/" isFtp="true" user="operador" password="carpeta"></add>
			</RepositoryDirectories>
		</FilesSection>
	</FileControl>
</configuration>