<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Uniandes.Controlador.Properties.Settings.OperadorCarpetaConnectionString"
            connectionString="Data Source=ASUS\SQLEXPRESS;Initial Catalog=OperadorCarpeta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>